
body {
  font-family: Arial;
}

#div-compare, #div-original {
  position: absolute;
  top: 4em;
  border-radius: 7px;
}

#div-compare {
  border: 5px solid rgba(255, 0, 0, 0.8);
}

#div-original {
  border: 5px solid rgba(0, 0, 255, 0.75);
}

#compare, #original {
  font-size: 1.5em;
  padding: 20px;
}

#compare {
  color: rgba(255, 0, 0, 0.8);
}

#original {
  color: rgba(0, 0, 255, 0.75);
}

#div-original, #original {
  background: transparent;
}

#buttons {
  position: absolute;
  display: flex;
  height: 60px;
  width: 200px;
  gap: 40px;
}

button {
  font-size: 1.2em;
  border-radius: 7px;
  padding: 5px;
}

#button-original {
  background: SkyBlue;
}

#button-compare {
  background: Pink;
}

textarea {
  width: calc(100vw - 3em - 10px);
  border: none;
}

@media (min-height: 100px) {

  textarea {
    height: 600px;
  }

  #buttons {

  }
  
}

@media (min-height: 650px) {

  textarea {
    height: calc(100vh - 11em);
  }

  #buttons {
    bottom: 1em;    
  }

}
