
body {
  font-family: Arial;
}

textarea {
  height: 40vh;
}

#div-compare, #div-original {
  width: 90vw;
  position: absolute;
  top: 4em;
}

#compare, #original {
  font-size: 1.5em;
  padding: 20px;
}

#compare {
  color: red;
}
